<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asher 개인 연습장</title>
</head>
<body>
    <h1>로또 공 뽑기</h1>    
    <script>
        var lotto=[];
        /*
        parseInt(); : 소수점 버리고 정수화
        .push(); : 배열 끝 항목 추가
        .length(); : 배열 길이
        .sort(); : 배열 값 정렬
        .sort((a, b)=>a-b); : 숫자 오름차순 정렬(익명함수)
        hi
        */
    </script>
</body>
</html>